<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="7fcd074b-ed37-4120-b541-ca426b8d0405" Publisher="CN=u_psm" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Libgroupchat</DisplayName>
    <PublisherDisplayName>u_psm</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Libgroupchat.App">
      <VisualElements DisplayName="Libgroupchat" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Libgroupchat" ForegroundText="light" BackgroundColor="#00b2f0">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\tile-sdk.png" ShortName="LibGroupChat" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
      <Extensions>
      <Extension Category="windows.fileTypeAssociation">
        <FileTypeAssociation Name="pictures">
          <SupportedFileTypes>
            <FileType>.xml</FileType>
          </SupportedFileTypes>
        </FileTypeAssociation>
      </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="documentsLibrary" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>