BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px
}
HR {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px
}
DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px
}
DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px
}
DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px
}
PRE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px
}
LEGEND {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px
}
BUTTON {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px
}
INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px
}
TH {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px
}
TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px
}
BODY {
	MARGIN: 0px auto; FONT: 12px/1.5 ËÎÌו
}
UL {
	LIST-STYLE: none none outside; WORD-BREAK: normal; WORD-WRAP: break-word
}
OL {
	LIST-STYLE: none none outside; WORD-BREAK: normal; WORD-WRAP: break-word
}
LI {
	LIST-STYLE: none none outside; WORD-BREAK: normal; WORD-WRAP: break-word
}
P {
	BACKGROUND-COLOR: transparent
}
H1 {
	BACKGROUND-COLOR: transparent
}
H2 {
	BACKGROUND-COLOR: transparent
}
H3 {
	BACKGROUND-COLOR: transparent
}
A {
	COLOR: red; TEXT-DECORATION: none
}
A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.fl {
	FLOAT: left
}
.fr {
	FLOAT: right
}
.cle {
	CLEAR: both
}
BR {
	CLEAR: both; WIDTH: 0px; HEIGHT: 0px
}
#hd {
	TEXT-ALIGN: center
}
#ft {
	TEXT-ALIGN: center
}
#ft {
	BORDER-TOP: #000 1px solid; MARGIN: 10px auto 0px; WIDTH: 960px; LINE-HEIGHT: 24px; PADDING-TOP: 5px
}
.c_39 {
	MARGIN: 10px auto; WIDTH: 960px
}
.g_13 {
	WIDTH: 310px
}
.g_13 A {
	COLOR: #000
}
.g_13 A:hover {
	COLOR: #c00
}
.g_26 {
	WIDTH: 635px
}
.g_26 A {
	COLOR: #004276
}
.g_26 A:hover {
	COLOR: #c00
}
.g_39 {
	MARGIN: 0px auto; WIDTH: 960px
}
.f12 {
	FONT-SIZE: 12px
}
.f14 {
	FONT-SIZE: 14px
}
.f12-b {
	FONT-WEIGHT: bold; FONT-FAMILY: arial
}
.f14-b {
	FONT-WEIGHT: bold; FONT-FAMILY: arial
}
.f16-b {
	FONT-WEIGHT: bold; FONT-FAMILY: arial
}
.f12-b {
	FONT-SIZE: 12px
}
.f14-b {
	FONT-SIZE: 14px
}
.f16-b {
	FONT-SIZE: 16px
}
.green {
	COLOR: #060
}
.underline {
	TEXT-DECORATION: underline! important
}
.bgF8F8F8 {
	BACKGROUND: #f8f8f8
}
.myon {
	BACKGROUND: #fff; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.b3-s-4273B3 {
	BORDER-TOP: #4273b3 3px solid
}
.mb10 {
	MARGIN-BOTTOM: 10px
}
.h40 {
	HEIGHT: 40px
}
#ad_760x90 {
	WIDTH: 760px; HEIGHT: 90px
}
#list4 {
	BORDER-RIGHT: #d3d3d3 1px solid; BORDER-TOP: #d3d3d3 1px solid; BORDER-LEFT: #d3d3d3 1px solid; WIDTH: 198px; BORDER-BOTTOM: #d3d3d3 1px solid; HEIGHT: 88px
}
#list4 A {
	COLOR: #333
}
#list4 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
#list4 LI {
	PADDING-LEFT: 8px; BACKGROUND: url(images/0.gif) no-repeat -497px 2px; LINE-HEIGHT: 20px
}
.subNav_logo {
	FLOAT: left
}
.subNav_l {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 10px
}
.subNav_l A {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 0px; COLOR: #333; PADDING-TOP: 0px
}
.subNav_l .lastofnav {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.search {
	WIDTH: 270px; PADDING-TOP: 3px
}
.search DL {
	WIDTH: 270px; HEIGHT: 32px
}
.search DT {
	WIDTH: 197px; HEIGHT: 28px
}
.search DD {
	BACKGROUND: url(images/0.gif) no-repeat -130px 0px; WIDTH: 73px; HEIGHT: 32px
}
.search .input {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 1px solid; PADDING-LEFT: 4px; BACKGROUND: url(images/0.gif) 0px -40px; PADDING-BOTTOM: 0px; BORDER-LEFT: 1px solid; WIDTH: 192px; COLOR: #ccc; PADDING-TOP: 7px; BORDER-BOTTOM: 1px solid; HEIGHT: 23px
}
.crumb {
	BACKGROUND: #f8f8f8; COLOR: #004276; LINE-HEIGHT: 18px
}
.crumb A {
	MARGIN: 0px 6px
}
.crumb A:hover {
	TEXT-DECORATION: underline
}
.brief {
	BORDER-RIGHT: #d8d9d9 1px solid; PADDING-RIGHT: 18px; BORDER-TOP: #d8d9d9 1px; PADDING-LEFT: 18px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 12px; BORDER-LEFT: #d8d9d9 1px solid; WIDTH: 597px; PADDING-TOP: 12px; BORDER-BOTTOM: #d8d9d9 1px solid
}
.brief H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 22px; COLOR: #000; LINE-HEIGHT: 42px; PADDING-TOP: 12px; BORDER-BOTTOM: #d8d9d9 1px solid; HEIGHT: 45px; TEXT-ALIGN: center
}
.brief .msg {
	PADDING-BOTTOM: 8px; COLOR: #696969; LINE-HEIGHT: 36px; POSITION: relative; HEIGHT: 30px; TEXT-ALIGN: center
}
.brief .brieftext {
	BORDER-RIGHT: #73a0cf 1px dashed; PADDING-RIGHT: 12px; BORDER-TOP: #73a0cf 1px dashed; PADDING-LEFT: 12px; BACKGROUND: #fff; PADDING-BOTTOM: 8px; BORDER-LEFT: #73a0cf 1px dashed; LINE-HEIGHT: 26px; PADDING-TOP: 8px; BORDER-BOTTOM: #73a0cf 1px dashed
}
.brief .brieftext A {
	MARGIN: 5px
}
.brief .ad {
	TEXT-ALIGN: right
}
.brief .fav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; RIGHT: 0px; PADDING-BOTTOM: 0px; WIDTH: 49px; PADDING-TOP: 4px; POSITION: absolute; TOP: 5px; HEIGHT: 38px
}
.tag {
	BORDER-RIGHT: #d8d9d9 1px solid; BORDER-TOP: #d8d9d9 1px solid; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 4px; BORDER-LEFT: #d8d9d9 1px solid; WIDTH: 635px; LINE-HEIGHT: 18px; PADDING-TOP: 7px; BORDER-BOTTOM: #d8d9d9 1px solid
}
.tag LI {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; LIST-STYLE-POSITION: inside; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: decimal; HEIGHT: 20px; BACKGROUND-COLOR: #f8f8f8
}
.tagcol {
	PADDING-RIGHT: 6px; BACKGROUND: url(images/0.gif) no-repeat -71px -772px; LEFT: -71px; WIDTH: 65px; POSITION: absolute; TOP: -69px; HEIGHT: 58px
}
 HTML .tagcol {
	LEFT: -90px; TOP: -68px
}
.tagcol UL {
	BACKGROUND: none transparent scroll repeat 0% 0%; LINE-HEIGHT: 26px; PADDING-TOP: 4px; TEXT-ALIGN: center
}
.tagcol-a {
	PADDING-RIGHT: 6px; BACKGROUND: url(images/0.gif) no-repeat 0px -772px; LEFT: -71px; WIDTH: 65px; POSITION: absolute; TOP: -36px; HEIGHT: 58px
}
 HTML .tagcol-a {
	LEFT: -90px; TOP: -36px
}
.tagcol-a UL {
	BACKGROUND: none transparent scroll repeat 0% 0%; LINE-HEIGHT: 26px; PADDING-TOP: 4px; TEXT-ALIGN: center
}
.content {
	BORDER-RIGHT: #d8d9d9 1px solid; PADDING-RIGHT: 18px; BORDER-TOP: #d8d9d9 1px solid; PADDING-LEFT: 18px; MIN-HEIGHT: 500px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 12px; BORDER-LEFT: #d8d9d9 1px solid; LINE-HEIGHT: 28px; PADDING-TOP: 12px; BORDER-BOTTOM: #d8d9d9 1px solid; POSITION: relative
}
.content P {
	TEXT-INDENT: 28px
}
.content P IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
.content P STRONG {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; TEXT-ALIGN: center
}
.content P A {
	TEXT-DECORATION: underline
}
.content A {
	TEXT-DECORATION: none
}
.content A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
.content H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; TEXT-INDENT: 28px
}
.author {
	MARGIN-TOP: 10px; FONT-SIZE: 12px; TEXT-ALIGN: right
}
.tips {
	BORDER-RIGHT: #73a0cf 1px; BORDER-TOP: #73a0cf 1px dashed; BACKGROUND: #fff; BORDER-LEFT: #73a0cf 1px; COLOR: #7e94a7; LINE-HEIGHT: 22px; PADDING-TOP: 5px; BORDER-BOTTOM: #73a0cf 1px dashed; HEIGHT: 25px; TEXT-ALIGN: right
}
.tips A {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #73a0cf; PADDING-TOP: 0px; TEXT-DECORATION: none
}
.tips A:hover {
	TEXT-DECORATION: underline
}
.page {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 16px; PADDING-TOP: 16px; TEXT-ALIGN: center
}
.page A {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.page A:hover {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.page SPAN {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.page A {
	COLOR: #005197; TEXT-DECORATION: underline
}
.docu {
	BORDER-RIGHT: #d8d9d9 1px solid; PADDING-RIGHT: 12px; BORDER-TOP: #d8d9d9 1px solid; PADDING-LEFT: 12px; BACKGROUND: #fff; PADDING-BOTTOM: 8px; BORDER-LEFT: #d8d9d9 1px solid; PADDING-TOP: 8px; BORDER-BOTTOM: #d8d9d9 1px solid
}
.docu UL LI {
	FLOAT: left; WIDTH: 280px
}
.prelast {
	FONT-SIZE: 12px; PADDING-TOP: 10px; HEIGHT: 20px; TEXT-ALIGN: center
}
.prelast LI {
	BACKGROUND: #f8f8f8; FLOAT: left; LINE-HEIGHT: 20px; MARGIN-RIGHT: 15px
}
.relate {
	BORDER-RIGHT: #d8d9d9 1px solid; BORDER-TOP: #d8d9d9 1px solid; BACKGROUND: #f8f8f8; MARGIN-BOTTOM: 10px; BORDER-LEFT: #d8d9d9 1px solid; BORDER-BOTTOM: #d8d9d9 1px solid
}
.spe {
	BORDER-RIGHT: #d8d9d9 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #d8d9d9 1px solid; PADDING-LEFT: 18px; PADDING-BOTTOM: 0px; BORDER-LEFT: #d8d9d9 1px solid; PADDING-TOP: 12px; BORDER-BOTTOM: #d8d9d9 1px; HEIGHT: 22px
}
.relateart {
	PADDING-RIGHT: 18px; PADDING-LEFT: 18px; FLOAT: left; PADDING-BOTTOM: 8px; WIDTH: 274px; MARGIN-RIGHT: 12px; PADDING-TOP: 12px
}
.relateart .tlt {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; BACKGROUND: url(images/0.gif) no-repeat 0px -75px; PADDING-BOTTOM: 0px; PADDING-TOP: 1px
}
.hotart .tlt {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; BACKGROUND: url(images/0.gif) no-repeat 0px -75px; PADDING-BOTTOM: 0px; PADDING-TOP: 1px
}
.hotart {
	PADDING-RIGHT: 18px; PADDING-LEFT: 18px; FLOAT: left; PADDING-BOTTOM: 8px; WIDTH: 274px; PADDING-TOP: 12px
}
.relateart UL {
	LINE-HEIGHT: 24px
}
.hotart UL {
	LINE-HEIGHT: 24px
}
.relateart LI {
	BACKGROUND: #f8f8f8
}
.hotart LI {
	BACKGROUND: #f8f8f8
}
.relateart A {
	PADDING-LEFT: 8px; BACKGROUND: url(images/0.gif) no-repeat -497px -18px; COLOR: #004276; LINE-HEIGHT: 20px
}
.hotart A {
	PADDING-LEFT: 8px; BACKGROUND: url(images/0.gif) no-repeat -497px -18px; COLOR: #004276; LINE-HEIGHT: 20px
}
.topic {
	PADDING-RIGHT: 0px; BORDER-TOP: #73a0cf 1px dashed; PADDING-LEFT: 0px; BACKGROUND: #fff; PADDING-BOTTOM: 12px; MARGIN: 0px 18px; PADDING-TOP: 12px; BORDER-BOTTOM: #73a0cf 1px dashed; HEIGHT: 86px
}
.topic IMG {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 0px 6px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid
}
.topic LI {
	FLOAT: left
}
#relateTag {
	PADDING-RIGHT: 18px; PADDING-LEFT: 18px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
.comm {
	BORDER-RIGHT: #d8d9d9 1px solid; PADDING-RIGHT: 18px; BORDER-TOP: #d8d9d9 1px solid; PADDING-LEFT: 18px; PADDING-BOTTOM: 4px; BORDER-LEFT: #d8d9d9 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #d8d9d9 1px solid
}
.comm A {
	TEXT-DECORATION: underline
}
.comm A:hover {
	TEXT-DECORATION: none
}
.comm DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 6px; WIDTH: 590px; PADDING-TOP: 10px; HEIGHT: 18px
}
.comm DT {
	FONT-SIZE: 12px; FLOAT: left; COLOR: #94b6d4
}
.comm DD {
	FONT-SIZE: 12px; COLOR: #94b6d4; TEXT-ALIGN: right
}
.comm .tlt {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(images/0.gif) no-repeat 0px -76px; COLOR: #000
}
.comm P {
	PADDING-BOTTOM: 10px; BORDER-BOTTOM: #c6daea 1px dashed
}
.comm .bg1 {
	PADDING-BOTTOM: 10px; BORDER-BOTTOM: #c6daea 1px dashed
}
.comm .no_border {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.test3 {
	BORDER-RIGHT: #c2c2c2 1px solid; BORDER-TOP: #c2c2c2 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #c2c2c2 1px solid; WIDTH: 50px; BORDER-BOTTOM: #c2c2c2 1px solid; HEIGHT: 20px
}
.test1 {
	BORDER-RIGHT: #c2c2c2 1px solid; BORDER-TOP: #c2c2c2 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #c2c2c2 1px solid; WIDTH: 100px; BORDER-BOTTOM: #c2c2c2 1px solid; HEIGHT: 20px
}
.test2 {
	BORDER-RIGHT: #73a0cf 1px solid; BORDER-TOP: #73a0cf 1px solid; BACKGROUND: url(images/0.gif) no-repeat 250px -545px; BORDER-LEFT: #73a0cf 1px solid; WIDTH: 588px; BORDER-BOTTOM: #73a0cf 1px solid; HEIGHT: 60px
}
.sendMsg {
	BORDER-RIGHT: #d8d9d9 1px solid; PADDING-RIGHT: 18px; BORDER-TOP: #d8d9d9 1px; PADDING-LEFT: 18px; PADDING-BOTTOM: 0px; BORDER-LEFT: #d8d9d9 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #d8d9d9 1px solid
}
.sendMsg DL {
	WIDTH: 590px; PADDING-TOP: 10px; HEIGHT: 18px
}
.sendMsg DT {
	FLOAT: left
}
.sendMsg DD {
	TEXT-ALIGN: right
}
.sendMsg .tlt {
	PADDING-LEFT: 10px; BACKGROUND: url(images/0.gif) no-repeat 0px -76px; COLOR: #000
}
.sendMsg A {
	TEXT-DECORATION: underline
}
.sendMsg A:hover {
	TEXT-DECORATION: none
}
.txt {
	BORDER-RIGHT: #d8d9d9 1px solid; PADDING-RIGHT: 18px; BORDER-TOP: #d8d9d9 1px; PADDING-LEFT: 18px; PADDING-BOTTOM: 0px; BORDER-LEFT: #d8d9d9 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #d8d9d9 1px solid
}
.txt A {
	TEXT-DECORATION: underline
}
.txt A:hover {
	TEXT-DECORATION: none
}
.txt .tlt {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(images/0.gif) no-repeat 0px -76px; COLOR: #000
}
.txt DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #f8f8f8; PADDING-BOTTOM: 10px; WIDTH: 590px; PADDING-TOP: 10px; HEIGHT: 18px
}
.txt DT {
	FLOAT: left
}
.txt DD {
	BACKGROUND: #f8f8f8; TEXT-ALIGN: right
}
.txt .editor {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
.txtinput {
	BORDER-RIGHT: #73a0cf 1px solid; BORDER-TOP: #73a0cf 1px solid; BACKGROUND: url(images/0.gif) no-repeat 250px -545px; BORDER-LEFT: #73a0cf 1px solid; WIDTH: 588px; BORDER-BOTTOM: #73a0cf 1px solid; HEIGHT: 60px
}
.searchInput2 {
	BORDER-RIGHT: #c2c2c2 1px solid; BORDER-TOP: #c2c2c2 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #c2c2c2 1px solid; WIDTH: 50px; BORDER-BOTTOM: #c2c2c2 1px solid; HEIGHT: 10px
}
.focus {
	BORDER-RIGHT: #d8d9d9 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d8d9d9 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 10px 0px; BORDER-LEFT: #d8d9d9 1px solid; WIDTH: 300px; PADDING-TOP: 0px; BORDER-BOTTOM: #d8d9d9 1px solid
}
.focus UL {
	PADDING-RIGHT: 8px; MARGIN-TOP: 5px; PADDING-LEFT: 8px; BACKGROUND: url(images/0.gif) no-repeat 0px -151px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
.focus LI {
	MARGIN: 0px 0px 6px; LINE-HEIGHT: 18px
}
.focus .tit A {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; LINE-HEIGHT: 24px; FONT-FAMILY: arial; marigin-right: 10px
}
.focus .tit EM {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 14px; FLOAT: left; MARGIN: 0px 5px 0px 0px; WIDTH: 40px; COLOR: #fff; PADDING-TOP: 4px; FONT-STYLE: normal; HEIGHT: 18px; BACKGROUND-COLOR: #c00; TEXT-ALIGN: center
}
.focus DL {
	WIDTH: 286px; HEIGHT: 70px
}
.focus DT {
	FLOAT: left; WIDTH: 130px; HEIGHT: 70px
}
.focus DD {
	FLOAT: right; WIDTH: 146px; LINE-HEIGHT: 22px; HEIGHT: 70px
}
.rank {
	BORDER-RIGHT: #d8d9d9 1px solid; BORDER-TOP: #d8d9d9 1px solid; MARGIN-BOTTOM: 10px; BORDER-LEFT: #d8d9d9 1px solid; WIDTH: 310px; BORDER-BOTTOM: #d8d9d9 1px solid
}
.rank .tlt {
	BACKGROUND: url(images/0.gif) no-repeat 0px -276px; HEIGHT: 30px
}
.rank .tlt A {
	DISPLAY: block; FLOAT: right; BORDER-LEFT: #d8d9d9 1px solid; WIDTH: 56px; PADDING-TOP: 8px; HEIGHT: 22px; TEXT-ALIGN: center
}
.rank H3 {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(images/0.gif) no-repeat 0px -76px; FLOAT: left; MARGIN: 5px 0px 0px 8px; HEIGHT: 20px
}
.rank UL {
	PADDING-LEFT: 22px; BACKGROUND: url(images/0.gif) no-repeat 0px -306px; MARGIN: 6px 0px 0px 8px; LINE-HEIGHT: 24px
}
.tagCloud {
	BORDER-RIGHT: #d8d9d9 1px solid; BORDER-TOP: #d8d9d9 1px solid; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 4px; BORDER-LEFT: #d8d9d9 1px solid; WIDTH: 310px; BORDER-BOTTOM: #d8d9d9 1px solid
}
.tagCloud A {
	COLOR: #004276; TEXT-DECORATION: none
}
.tagCloud A:hover {
	TEXT-DECORATION: underline
}
.tagCloud .tlt {
	BACKGROUND: url(images/0.gif) no-repeat 0px -276px; HEIGHT: 30px
}
.tagCloud .taglist {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.tagCloud H3 {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(images/0.gif) no-repeat 0px -76px; FLOAT: left; MARGIN: 5px 0px 0px 8px; HEIGHT: 20px
}
.tagCloud UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 12px; PADDING-BOTTOM: 10px; LINE-HEIGHT: 20px; PADDING-TOP: 6px
}
.tagCloud LI {
	FLOAT: left; WIDTH: 60px; MARGIN-RIGHT: 5px
}
.rss {
	BORDER-RIGHT: #d8d9d9 1px solid; BORDER-TOP: #d8d9d9 1px solid; BACKGROUND: url(images/0.gif) no-repeat 0px -630px; MARGIN-BOTTOM: 10px; BORDER-LEFT: #d8d9d9 1px solid; BORDER-BOTTOM: #d8d9d9 1px solid; HEIGHT: 115px
}
.rss A {
	COLOR: #004276; TEXT-DECORATION: underline
}
.searchInput3 {
	PADDING-RIGHT: 0px; BORDER-TOP: #be390a 1px solid; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #be390a 1px solid; WIDTH: 141px; COLOR: #000; PADDING-TOP: 0px; BORDER-BOTTOM: #be390a 1px solid; HEIGHT: 18px
}
.rss UL {
	PADDING-RIGHT: 14px; PADDING-TOP: 50px; HEIGHT: 20px; TEXT-ALIGN: right
}
.rss DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 90px; PADDING-BOTTOM: 0px; WIDTH: 205px; PADDING-TOP: 8px; HEIGHT: 20px
}
.rss DT {
	FLOAT: left; WIDTH: 143px; HEIGHT: 20px
}
.rss DD {
	FLOAT: left; WIDTH: 57px; HEIGHT: 20px
}
.more {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 7px; HEIGHT: 15px
}
.tj {
	BORDER-RIGHT: #d8d9d9 1px solid; BORDER-TOP: #d8d9d9 1px solid; MARGIN-BOTTOM: 10px; BORDER-LEFT: #d8d9d9 1px solid; WIDTH: 310px; BORDER-BOTTOM: #d8d9d9 1px solid
}
.tj .tlt {
	BACKGROUND: url(images/0.gif) no-repeat 0px -276px; HEIGHT: 30px
}
.tj H3 {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(images/0.gif) no-repeat 0px -76px; FLOAT: left; MARGIN: 5px 0px 0px 8px; HEIGHT: 20px
}
.tj UL {
	MARGIN: 6px 0px 0px 8px; LINE-HEIGHT: 24px
}
.tj LI {
	PADDING-LEFT: 10px; BACKGROUND: url(images/0.gif) no-repeat -497px 2px
}
.tj .nostyle LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.picAD {
	BORDER-RIGHT: #d8d9d9 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #d8d9d9 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #d8d9d9 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #d8d9d9 1px solid
}
PRE {
	FONT-SIZE: 12px; BACKGROUND: #e6e6e6; MARGIN: 0px 0px 1em; OVERFLOW: auto; WIDTH: 99%; FONT-FAMILY: 'Courier New' , Monospace
}
PRE OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
PRE OL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
PRE OL LI SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
PRE A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
PRE A:hover {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
PRE OL LI {
	BACKGROUND: url(images/0.gif) repeat-y -498px -70px
}
PRE OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #f7f7f7; PADDING-BOTTOM: 5px; MARGIN: 0px 0px 1px 3em; COLOR: #5c5c5c; PADDING-TOP: 5px; LIST-STYLE-TYPE: decimal
}
PRE OL LI {
	PADDING-RIGHT: 3px! important; PADDING-LEFT: 10px! important; LIST-STYLE-POSITION: outside! important; BACKGROUND: url(images/0.gif) repeat-y -498px -70px; PADDING-BOTTOM: 0px! important; MARGIN: 0px; COLOR: #5c5c5c; LINE-HEIGHT: 18px; PADDING-TOP: 0px! important; LIST-STYLE-TYPE: decimal
}
PRE OL LI.alt {
	
}
PRE OL LI SPAN {
	COLOR: black
}
PRE .comment {
	COLOR: #008200
}
PRE .comments {
	COLOR: #008200
}
PRE .string {
	COLOR: blue
}
PRE .keyword {
	FONT-WEIGHT: bold; COLOR: #069
}
PRE .preprocessor {
	COLOR: gray
}
PRE .dp-xml .cdata {
	COLOR: #ff1493
}
PRE .dp-xml .tag {
	FONT-WEIGHT: bold; COLOR: #069
}
PRE .dp-xml .tag-name {
	FONT-WEIGHT: bold; COLOR: #069
}
PRE .dp-xml .attribute {
	COLOR: red
}
PRE .dp-xml .attribute-value {
	COLOR: blue
}
PRE .dp-sql .func {
	COLOR: #ff1493
}
PRE .dp-sql .op {
	COLOR: #808080
}
PRE .dp-rb .symbol {
	COLOR: #a70
}
PRE .dp-rb .variable {
	FONT-WEIGHT: bold; COLOR: #a70
}
PRE .dp-py .builtins {
	COLOR: #ff1493
}
PRE .dp-py .magicmethods {
	COLOR: #808080
}
PRE .dp-py .exceptions {
	COLOR: brown
}
PRE .dp-py .types {
	COLOR: brown; FONT-STYLE: italic
}
PRE .dp-py .commonlibs {
	COLOR: #8a2be2; FONT-STYLE: italic
}
PRE .dp-j .annotation {
	COLOR: #646464
}
PRE .dp-j .number {
	COLOR: #c00000
}
PRE .dp-delphi .number {
	COLOR: blue
}
PRE .dp-delphi .directive {
	COLOR: #008284
}
PRE .dp-delphi .vars {
	COLOR: #000
}
PRE .dp-css .value {
	COLOR: black
}
PRE .dp-css .important {
	COLOR: red
}
PRE .dp-c .vars {
	COLOR: #d00
}
PRE .dp-cpp .datatypes {
	FONT-WEIGHT: bold; COLOR: #2e8b57
}
.content OL LI {
	PADDING-LEFT: 10px; BACKGROUND: url(images/0.gif) no-repeat -497px -9px
}
.content OL {
	MARGIN-LEFT: 34px
}
.rank UL LI {
	OVERFLOW: hidden; WIDTH: 270px; WHITE-SPACE: nowrap
}
